{# views/layouts/footer.twig #}
<footer>
    <div class="footer-content">
        <div class="footer-links">
            <ul>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/help">Ajuda</a></li>
                <li><a href="/contact">Contato</a></li>
                <li><a href="/privacy">Política de Privacidade</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="footer-bottom">
            <p>&copy; {{ "now"|date("Y") }} Minha Rede Social. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
